@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-UltraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Black.ttf');
  font-weight: 900;
}

*{
  font-family: Gilroy;
}

.custom-cursor{
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;

}

.btnWrapper{
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.buttonAnime{
  transition: scale 0.3s ease;
}

.buttonAnime:hover{
  scale: 1.05;
}
.buttonAnime:hover .btnWrapper{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.text-div span{
  transition: color 0.3s ease;
}
.buttonAnime:hover .text-div span{
  color: black;
}


.btnWrapper-2{
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.buttonAnime-2{
  transition: scale 0.3s ease;
}

.buttonAnime-2:hover{
  scale: .95;
}
.buttonAnime-2:hover .btnWrapper-2{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.text-div-2 span{
  transition: color 0.3s ease;
}
.buttonAnime-2:hover .text-div-2 span{
  color: black;
}

.btnWrap{
  transition: top .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.btnWrapMain:hover .btnWrap{
  top: 0;
}

.textWrap{
  transition: color .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.btnWrapMain:hover .textWrap{
  color: white;
}

::-webkit-scrollbar{
  display: none;
}