@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: Poppins;
}

.custom-cursor{
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;

}

.btnWrapper{
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.buttonAnime{
  transition: scale 0.3s ease;
}

.buttonAnime:hover{
  scale: 1.05;
}
.buttonAnime:hover .btnWrapper{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.text-div span{
  transition: color 0.3s ease;
}
.buttonAnime:hover .text-div span{
  color: black;
}


.btnWrapper-2{
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.buttonAnime-2{
  transition: scale 0.3s ease;
}

.buttonAnime-2:hover{
  scale: .95;
}
.buttonAnime-2:hover .btnWrapper-2{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.text-div-2 span{
  transition: color 0.3s ease;
}
.buttonAnime-2:hover .text-div-2 span{
  color: black;
}

.btnWrap{
  transition: top .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.btnWrapMain:hover .btnWrap{
  top: 0;
}

.textWrap{
  transition: color .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.btnWrapMain:hover .textWrap{
  color: white;
}

::-webkit-scrollbar{
  display: none;
}